In [6]:
import pandas as pd
import sklearn as sk
import matplotlib.pyplot as plt
import scipy as sc
import os

In [29]:
import warnings
warnings.filterwarnings(action='ignore')

In [45]:
df=pd.read_csv("insurance.csv",index_col='age',skip_blank_lines=True)

In [46]:
df.head().columns

Index(['sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [47]:
df.head

<bound method NDFrame.head of         sex     bmi  children smoker     region      charges
age
19     male  27.900         0    yes  southeast  16884.92400
18     male  33.770         1     no  southeast   1725.55230
28     male  33.000         3     no  southeast   4449.46200
33     male  22.705         0     no  southeast  21984.47061
32     male  28.880         0     no  southeast   3866.85520
..      ...     ...       ...    ...        ...          ...
50     male  30.970         3     no  northwest  10600.54830
18   female  31.920         0     no  northeast   2205.98080
18   female  36.850         0     no  southeast   1629.83350
21   female  25.800         0     no  southwest   2007.94500
61   female  29.070         0    yes  northwest  29141.36030

[1338 rows x 6 columns]>

In [48]:
df

        sex     bmi  children smoker     region      charges
age
19     male  27.900         0    yes  southeast  16884.92400
18     male  33.770         1     no  southeast   1725.55230
28     male  33.000         3     no  southeast   4449.46200
33     male  22.705         0     no  southeast  21984.47061
32     male  28.880         0     no  southeast   3866.85520
..      ...     ...       ...    ...        ...          ...
50     male  30.970         3     no  northwest  10600.54830
18   female  31.920         0     no  northeast   2205.98080
18   female  36.850         0     no  southeast   1629.83350
21   female  25.800         0     no  southwest   2007.94500
61   female  29.070         0    yes  northwest  29141.36030

[1338 rows x 6 columns]

In [ ]:
from pandas.core.flags

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1338 entries, 19 to 61
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sex       1338 non-null   object
 1   bmi       1338 non-null   float64
 2   children  1338 non-null   int64
 3   smoker    1338 non-null   object
 4   region    1338 non-null   object
 5   charges   1338 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 73.2+ KB

In [ ]:
df.describe()

               bmi     children       charges
count  1338.000000  1338.000000   1338.000000
mean     30.663397     1.094918  13270.422265
std       6.098187     1.205493  12110.011237
min      15.960000     0.000000   1121.873900
25%      26.296250     0.000000   4740.287150
50%      30.400000     1.000000   9382.033000
75%      34.693750     2.000000  16639.912515
max      53.130000     5.000000  63770.428010

In [50]:
df.ndim

2

In [52]:
df.head().memory_usage

<bound method DataFrame.memory_usage of       sex     bmi  children smoker     region      charges
age
19   male  27.900         0    yes  southeast  16884.92400
18   male  33.770         1     no  southeast   1725.55230
28   male  33.000         3     no  southeast   4449.46200
33   male  22.705         0     no  southeast  21984.47061
32   male  28.880         0     no  southeast   3866.85520>